In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [3]:
V_df = pd.DataFrame([[3, 4, 5, 2],
                   [4, 4, 3, 3],
                   [5, 5, 4, 4]], dtype=np.float32).T

In [8]:
V_df #(4 users, 3 movies)

     0    1    2
0  3.0  4.0  5.0
1  4.0  4.0  5.0
2  5.0  3.0  4.0
3  2.0  3.0  4.0

masking some entries

In [9]:
V_df_masked =V_df.copy()
V_df_masked.iloc[0,0]=np.NAN

In [10]:
np_mask = V_df_masked.notnull()
np_mask

       0     1     2
0  False  True  True
1   True  True  True
2   True  True  True
3   True  True  True

In [11]:
tf_mask = tf.Variable(np_mask.values)

In [12]:
tf_mask.get_shape()

TensorShape([Dimension(4), Dimension(3)])

In [13]:
A_np = V_df_masked.values
V = tf.constant(A_np)

In [14]:
V.get_shape()

TensorShape([Dimension(4), Dimension(3)])

In [15]:
shape = V_df.shape
rank = 3 #latent factors

#initializer = tf.random_normal_initializer(mean=df.mean().mean()/5,stddev=0.1 )
initializer = tf.random_uniform_initializer(maxval=1)

H =  tf.get_variable("H", [rank, shape[1]],
                                     initializer=initializer)
W =  tf.get_variable(name="W", shape=[shape[0], rank],
                                     initializer=initializer)

In [16]:
W.get_shape(), H.get_shape()

(TensorShape([Dimension(4), Dimension(3)]),
 TensorShape([Dimension(3), Dimension(3)]))

In [17]:
WH = tf.matmul(W, H)
WH.get_shape()

TensorShape([Dimension(4), Dimension(3)])

In [18]:
#cost of Frobenius norm
f_norm = tf.reduce_sum(tf.pow(tf.boolean_mask(V, tf_mask) - tf.boolean_mask(WH, tf_mask), 2))

In [19]:
f_norm

In [20]:
lr = 0.1
optimize = tf.train.AdagradOptimizer(lr).minimize(f_norm)

In [21]:
max_iter=1000
display_step = 50

with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    
    pre_loss = 10e12
    for i in xrange(max_iter):
       
        loss, _ = sess.run([f_norm, optimize])
        if i%display_step==0:
            print loss, i
    W_out = sess.run(W)
    H_out = sess.run(H)
    WH_out = sess.run(WH)

144.076 0
2.9222 50
2.38674 100
1.64622 150
0.854339 200
0.339064 250
0.12177 300
0.0488283 350
0.0246206 400
0.0156139 450
0.0116937 500
0.00965642 550
0.00837615 600
0.00742534 650
0.0066351 700
0.00593772 750
0.00530574 800
0.00472785 850
0.004199 900
0.00371633 950

In [22]:
pd.DataFrame(np.dot(W_out,H_out))

          0         1         2
0  5.924972  3.984010  5.012636
1  3.999642  3.977603  5.017914
2  5.000240  3.029720  3.976366
3  2.000260  3.019097  3.984740

In [23]:
V_df

     0    1    2
0  3.0  4.0  5.0
1  4.0  4.0  5.0
2  5.0  3.0  4.0
3  2.0  3.0  4.0